html {
  margin: 0;
}

body {
  margin: 0;
}

header h1{
  text-align: center;
  background-color: tomato;
  height: 10vh;
  margin: 0;
}

div#wrapper{
  background-color: tomato;
  height: 91vh;
  width: 100%;
}

#wrapper > div {
}

.mainBoard {
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  float: right;
  margin-right: 10%;
  border: 1px solid black;
}

.board{
  height: 6.4vh;
  width: 6.4vh;
  margin: 1px;

}

.pawn {
  height: 5vh;
  width: auto;
}

.path {
  background-color: burlywood;
  /* border: 1px solid black; */
}

.red {
  background-color: red;
  /* border: 1px solid black; */
}

.green {
  background-color: green;
  /* border: 1px solid black; */
}

.blue {
  background-color: blue;
  /* border: 1px solid black; */
}

.yellow {
  background-color: yellow;
  /* border: 1px solid black; */
}

.home {
  font-size: 4vh;
  text-align: center;
  color: white;
  background-color: grey;
}
