html {
  margin: 0;
}

body {
  margin: 0;
  background-color: skyblue;
}

header h1{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  background-color: skyblue;
  height: 10vh;
  margin: 0;
}

div#wrapper{
  height: 91vh;
  width: 100%;
}

#wrapper > div {
}

form {
  display: block;
  font-family: 'VT323', monospace;
  font-size: 5vh;
}

input {
  margin: 1vh;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

input label {
  position: absolute;
    opacity: 0;
    cursor: pointer;
}

label {
  margin-right: 10vh;
}
/* .button {
  font-family: 'VT323', monospace;
} */

div#dice-view {
  margin-left: 6vh;
}

div#dice-result-view {
  font-family: 'Luckiest Guy', cursive;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15vh;
  height: 16vh;
}

div#dice-button {
  height: 5vh;
}

.mainBoard {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  float: right;
  margin-right: 10%;
  border: 1px solid black;
}

.board{
  height: 6.4vh;
  width: 6.4vh;
  margin: 1px;
  grid-area: "row";
}


.pawn {
  height: 6vh;
  width: 6vh;
}

.path {
  background-color: burlywood;
  /* border: 1px solid black; */
}

.red {
  background-color: red;
  /* border: 1px solid black; */
}

.green {
  background-color: green;
  /* border: 1px solid black; */
}

.blue {
  background-color: blue;
  /* border: 1px solid black; */
}

.yellow {
  background-color: gold;
  /* border: 1px solid black; */
}

.home {
  font-size: 4vh;
  text-align: center;
  color: white;
  background-color: grey;
}
